@model FirstApplication.Models.Movie

                @{
                    if (@Model.Ratings.Count > 0)
                    {
                        <p>The overall rating for @Model.Name is @Model.OverallRating</p>
                    }
                    else
                    {
                        <p>Be the first rate @Model.Name !</p>
                    }
                }

            @{
                for(int i = 0; i < 10; i++)
                 {
                    <a href="#" name="Rank" data-rank="@i" data-movieid="@Model.MovieId" ><i class="glyphicon glyphicon-star@(Model.OverallRating < i ? "-empty" : "")"></i> </a>
                 }
            }